@font-face {
    font-family: 'Open Sans - Condensed';
    src: url(fonts/OpenSansCondensed-Light.ttf);
}
header{
    margin: 0;
    background-color: #dcdcdc;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    position: relative;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#logo{
    padding-top:65px;
    height: 100px;
    width: 273px;
}
#head_con{
    display:flex ;
    flex-direction: row;
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
}
#num{
    padding-top: 65px;
    display: flex;
    flex-wrap: wrap;
    padding-left:450px  ;
    width: 257px;
    height: 81px;
    color: #767676;
    font-family: 'Open Sans - Condensed', sans-serif;;
    font-size: 40px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 46px;
    text-align: right;
}
menu{
    margin: 0;
    background-color: #777777;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: center;
}
#menu-con{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box ;
}
#menu-con a{

    color: #ffffff;
    font-family: "pt_sansregular",sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
    box-sizing: border-box;
}

#menu-con ul.cent_elem_m:first-child:after {

}
#menu-con ul.cent_elem_m:after{
    content: "|";
    color: #ffffff;
    padding-left: 35px;
}

#menu-con ul.cent_elem_m:last-child:after{
    content: "";
}

#menu-con a:hover{
    text-decoration: underline;
}
#slider img{
    width: 100%;
    height: 462px;
}
#slider{
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    margin-top: 248px;
}
#sizer{
    height: 462px;
    width: 1284px;
}
#content{
    padding-top: 430px;
    display: flex;
    justify-content: center;

}
#group{
    width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

#side-menu {
    background-color: #777777;
    margin-bottom: 195px;
    padding: 0 33px 100px 0;
    font-family: "pt_sansregular",sans-serif;
    text-align: right;

}
#side-menu h1{
    padding: 1px 167px 38px 36px ;
    width: 147px;
    height: 28px;
    font-size: 33px;
    font-weight: 700;
    line-height: 46px;
    color: #ffffff;

}
 #list-s a{
    font-family: "pt_sansregular",sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
#s-menu-con{
    color: #ffffff;
    width: 340px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
}
#ar{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;

}
#main-co{
    letter-spacing: -1.2px;
    margin-top: 20px;
    width: 569px;
    height: 493px;
    color: #767676;
    font-family: "pt_sansregular",sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    text-align: left;
}
 #title{
     font-size: 35px;
     font-style: normal;
     letter-spacing: -1.65px;
     line-height: normal;
 }
footer{
    height: 100%;
    width: 100%;
    margin-top: auto;
    background-color: #777777;
    display: flex;
    justify-content: center;
}
#f_con{

    width: 980px;
    padding: 50px 10px 53px 10px;
    display: flex;
    flex-direction: row;

}
#mail{

    width: 200px;
    height: 35px;
    color: #ffffff;
    font-family: "pt_sansregular",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
}
#list a{
    color: #ffffff;
    font-family: "pt_sansregular",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
    padding-left: 164px;
    flex-wrap: nowrap;
}
li{
    width: 306px;
    list-style: none;
}
#company{
    padding-left:234px;
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 33px;
    color: #ffffff;
    font-family: "pt_sansregular",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-align: left;
}
#company img{
    padding-right: 5px;
    width: 36px;
    height: 38px;
}